.banner {
  all: unset;
  display: flex;
  column-gap: 6px;
  justify-items: baseline;
  font-weight: 600;
  font-size: 22px;
  color: rgba(#000, 0.8);
  font-family: cursive;
  cursor: pointer;
}

.iconImage {
  width: 28px;
  height: 28px;
}

.headerArea {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: inset 0 -1px 0 0 #eaeaea;
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0, 0%, 100%, 0.8);
  padding: 6px 0;
  @media (min-width: 768px) {
    padding: 12px 0;
  }
}

.IconArea {
  outline: 1px solid rgba(#000, 0.4);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: rgba(#000, 0.02);
  &:hover {
    background-color: rgba(#000, 0.1);
  }
}

.MenuIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.rightTopButton {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #333;
  padding: 0 12px;
  text-decoration: unset;
  &:hover {
    background-color: rgba(#000, 0.05);
    border-radius: 6px;
  }
}

.rightTopText {
  font-size: 16px;
}

.rightTopIcon {
  width: 16px;
  height: 16px;
}
