.banner {
  all: unset;
  display: flex;
  column-gap: 6px;
  justify-items: baseline;
  font-weight: 600;
  font-size: 22px;
  color: rgba(#000, 0.8);
  font-family: cursive;
  cursor: pointer;
}

.iconImage {
  width: 28px;
  height: 28px;
}

.headerArea {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: inset 0 -1px 0 0 #eaeaea;
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0, 0%, 100%, 0.8);
  padding: 6px 0;
  @media (min-width: 768px) {
    padding: 12px 0;
  }
}

.avatar {
  border-radius: 50%;
  background-color: #f1f1f1;
  object-fit: scale-down;
  cursor: pointer;
  outline: 1px solid rgba(#000, 0.2);
  &:hover {
    outline: 2px solid #0d6efd;
  }
}
