.uploadImageArea {
  border: 2px dashed #ccc;
  margin-top: 20px;
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: rgba(black, 0.6);
  cursor: pointer;
}
