.topNav {
  margin: 16px 16px 0;
  overflow: hidden;
  display: flex;
  ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    &::-webkit-scrollbar {
      width: 0 !important;
      height: 0 !important;
      background: transparent !important;
    }
    li {
      margin-right: 16px;
      flex-grow: 1;
      flex-basis: 0;
      width: auto;
      display: flex;
    }
  }
}

.link {
  &:hover {
    background: rgb(123, 121, 121, 0.1);
  }
  padding: 6px 12px;
  text-decoration: none;
  color: inherit;
  border-radius: 18px;
  background: white;
  text-wrap: nowrap;
}

.active {
  font-weight: 550;
  background: rgb(123, 121, 121, 0.1);
}

.liItem {
  height: 36px;
}
