.scrollArea {
  position: relative;
  padding: 16px;
  overflow-y: scroll;
  height: calc(100vh - 60px);
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.scrollArea_containTopNav {
  height: calc(100vh - 60px - 52px);
}
