.postLink {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.postCard {
  height: 100%;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.imageContainer {
  position: relative;
}

.placeholderImage {
  background-color: lightgray;
  height: 100%;
}

.postContent {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.image {
  left: unset !important;
  right: unset !important;
  top: unset !important;
  bottom: unset !important;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 100%;
  height: 100%;
  aspect-ratio: 4/3;
}
