.footerContainer {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.horizontalLine {
  border: 0;
  height: 1px;
  background-color: #ddd;
  margin-bottom: 20px;
}

.linkContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.linkItem {
  margin: 0 10px;
  color: rgba(black, 0.8);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.copyright {
  font-size: 0.8rem;
  color: rgba(black, 0.8);
}
